:host {
  > div {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    > div {
      grid-row: 1/-1;
    }
    > div:first-child {
      grid-row: 1;
      display: grid;
      align-items: start;
      align-self: start;
      position: sticky;
      margin-right: var(--gap-tiny); 
      margin-top: var(--gap-small);
      top: var(--gap-small);
      gap: var(--gap-tiny);
    }
  }
}
:host([expanded]) {
  .icon:first-child {
    --icon-button-transform: rotate(90deg);
  }
}
