.full {
  grid-column: 1 / -1; 
  grid-row: 1 / -1;
}
.full.text {
  padding-left: var(--gap-small);
}
.full.actions > button {
  padding: 0px;
  border: none;
  height: 100%;
  width: 100%;
}
[slot=heading].one-line {
  align-items: center;
}
[slot=heading] {
  grid-template-columns: auto 1fr;
  padding-bottom: var(--gap-medium);
  align-items: start;
  .grid {
    gap: var(--gap-small);
    .flex.wrap {
      gap: var(--gap-tiny);
    }
  }
}
.item {
  padding: var(--gap-tiny);
  padding-left: var(--gap-small);
  padding-right: var(--gap-small);
}
